@media only screen and (max-width: 767px) {
    /*================================
    Default CSS
    ==================================*/
    .container, .container-fluid {
        max-width: 100%;
        padding: {
            left: 15px;
            right: 15px;
        };
    }

    .mt-90 {
        margin-top: 0px;
    }

    .mt-60 {
        margin-top: 20px;
    }

    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*================================
    Button Area CSS
    ==================================*/
    .default-button {
        padding: 12px 20px;
        font-size: 13px;
    }

    /*================================
    Header Area CSS
    ==================================*/
    .header {
        padding-top: 10px;
        .container-fluid {
            align-items: unset;
            display: block;
            padding: 0;
        }
        .logo-area {
            h1 {
                font-size: 18px;
            }
        }
        .navbar {
            margin-top: 10px;
            position: relative;
            #icon {
                right: 0%;
                top: -40px;
                border: 0px;
                display: block;
                font-size: 20px;
                position: absolute;
                color: var(--blackColor);
                background-color: transparent;
            }
            ul {
                opacity: 0;
                height: 0;
                z-index: -1;
                visibility: hidden;
                position: absolute;
                transition: .5s ease-in-out;
                transform: translateY(-100px);
                background-color: var(--whiteColor);
                box-shadow: -1px 1px 5px 1px #eeeeee;
                li {
                    margin: 0;
                    display: block;
                    font-size: 10px;
                    padding: 10px 15px;
                    border-bottom: 1px solid #eeeeee;;
                }
            }
            .active {
                opacity: 1;
                height: auto;
                z-index: 999;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }

    /*================================
    Gallery Area CSS
    ==================================*/
    .mobile-section-title {
        display: block;
        span {
            font-size: 13px;
        }
        h3 {
            font-size: 26px;
        }
        p {
            font-size: 14px;
            letter-spacing: unset;
            margin-top: 12px;
        }
    }
    
    .gallery-img-area {
        .section-title {
            display: none;
        }
    }

    .gallery-content {
        display: block;
        justify-content: unset;
    }

    .gallery-img-area {
        .gallery-card {
            margin: {
                left: auto;
                right: auto;
            };
        }
        .gallery-img-card {
            .gallery-img-text-area {
                h3 {
                    font-size: 24px;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /*================================
    Default Area CSS
    ==================================*/
    .container, .container-fluid {
        max-width: 540px;
    }

    /*================================
    Header Area CSS
    ==================================*/
    .header {
        .container-fluid {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo-area {
            h1 {
                font-size: 20px;
            }
        }

        .navbar {
            margin-top: unset;
            #icon {
                display: none;
            }

            ul {
                opacity: 1;
                height: auto;
                z-index: 999;
                visibility: visible;
                transform: translateY(0px);
                position: relative;
                box-shadow: none;
                li {
                    font-size: 10px;
                    display: inline-block;
                    margin-left: 15px;
                    padding: 0;
                    border-bottom: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*================================
    Default Area CSS
    ==================================*/
    .container, .container-fluid {
        max-width: 720px;
    }

    .mt-90 {
        margin-top: 0px;
    }

    .mt-60 {
        margin-top: 20px;
    }

    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*================================
    Button Area CSS
    ==================================*/
    .default-button {
        padding: 12px 20px;
        font-size: 13px;
    }

    /*================================
    Header Area CSS
    ==================================*/
    .header {
        .logo-area {
            h1 {
                font-size: 24px;
            }
        }

        .navbar {
            ul {
                li {
                    font-size: 12px;
                }
            }
        }
    }

    /*================================
    Gallery Area CSS
    ==================================*/
    .mobile-section-title {
        display: block;
    }
    .gallery-img-area {
        .section-title {
            display: none;
        }
    }

    .gallery-img-area {
        .gallery-img-card {
            .gallery-img-text-area {
                p {
                    font-size: 12px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /*================================
    Default Area CSS
    ==================================*/
    .container, .container-fluid {
        max-width: 960px;
    }

    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .mt-90 {
        margin-top: 80px;
    }

    /*================================
    Gallery Area CSS
    ==================================*/
    .section-title {
        span {
            font-size: 12px;
        }

        h3 {
            font-size: 36px;
        }

        p {
            font-size: 14px;
        }
    }

    .gallery-img-area {
        .gallery-img-card {
            .gallery-img-text-area {
                h3 {
                    font-size: 26px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    /*================================
    Default Area CSS
    ==================================*/
    .mt-90 {
        margin-top: 90px;
    }

    /*================================
    Gallery Area CSS
    ==================================*/
    .gallery-img-area {
        .gallery-card {
            max-width: 380px;
            margin: {
                left: 0px;
                right: 0px;
            };
        }
    }

    .section-title {
        span {
            font-size: 12px;
        }

        h3 {
            font-size: 40px;
        }

        p {
            font-size: 17px;
        }
    }

}

@media only screen and (min-width: 1550px) {
    /*================================
    Default Area CSS
    ==================================*/
    .container-fluid {
        max-width: 1600px;
    }
}