@media only screen and (max-width: 767px) {
  .container, .container-fluid {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .default-button {
    padding: 12px 20px;
    font-size: 13px;
  }
  .mt-90 {
    margin-top: 0px;
  }
  .mt-60 {
    margin-top: 20px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header {
    padding-top: 10px;
  }
  .header .container-fluid {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: block;
    padding: 0;
  }
  .header .logo-area h1 {
    font-size: 18px;
  }
  .header .navbar {
    margin-top: 10px;
    position: relative;
  }
  .header .navbar #icon {
    right: 0%;
    top: -40px;
    border: 0px;
    display: block;
    font-size: 20px;
    position: absolute;
    color: var(--blackColor);
    background-color: transparent;
  }
  .header .navbar ul {
    opacity: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    background-color: var(--whiteColor);
    -webkit-box-shadow: -1px 1px 5px 1px #eeeeee;
            box-shadow: -1px 1px 5px 1px #eeeeee;
  }
  .header .navbar ul li {
    margin: 0;
    display: block;
    font-size: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #eeeeee;
  }
  .header .navbar .active {
    opacity: 1;
    height: auto;
    z-index: 999;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .mobile-section-title {
    display: block;
  }
  .mobile-section-title span {
    font-size: 13px;
  }
  .mobile-section-title h3 {
    font-size: 26px;
  }
  .mobile-section-title p {
    font-size: 14px;
    letter-spacing: unset;
    margin-top: 12px;
  }
  .gallery-img-area .section-title {
    display: none;
  }
  .gallery-content {
    display: block;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .gallery-img-area .gallery-card {
    margin-left: auto;
    margin-right: auto;
  }
  .gallery-img-area .gallery-img-card .gallery-img-text-area h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container, .container-fluid {
    max-width: 540px;
  }
  .header .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .logo-area h1 {
    font-size: 20px;
  }
  .header .navbar {
    margin-top: unset;
  }
  .header .navbar #icon {
    display: none;
  }
  .header .navbar ul {
    opacity: 1;
    height: auto;
    z-index: 999;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .navbar ul li {
    font-size: 10px;
    display: inline-block;
    margin-left: 15px;
    padding: 0;
    border-bottom: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container, .container-fluid {
    max-width: 720px;
  }
  .default-button {
    padding: 12px 20px;
    font-size: 13px;
  }
  .mt-90 {
    margin-top: 0px;
  }
  .mt-60 {
    margin-top: 20px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header .logo-area h1 {
    font-size: 24px;
  }
  .header .navbar ul li {
    font-size: 12px;
  }
  .mobile-section-title {
    display: block;
  }
  .gallery-img-area .section-title {
    display: none;
  }
  .gallery-img-area .gallery-img-card .gallery-img-text-area p {
    font-size: 12px;
  }
  .gallery-img-area .gallery-img-card .gallery-img-text-area h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container, .container-fluid {
    max-width: 960px;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .mt-90 {
    margin-top: 80px;
  }
  .section-title span {
    font-size: 12px;
  }
  .section-title h3 {
    font-size: 36px;
  }
  .section-title p {
    font-size: 14px;
  }
  .gallery-img-area .gallery-img-card .gallery-img-text-area h3 {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .mt-90 {
    margin-top: 90px;
  }
  .gallery-img-area .gallery-card {
    max-width: 380px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-title span {
    font-size: 12px;
  }
  .section-title h3 {
    font-size: 40px;
  }
  .section-title p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1550px) {
  .container-fluid {
    max-width: 1600px;
  }
}
/*# sourceMappingURL=responsive.css.map */